<h1> You already have an account!! Log IN PLease!!!</h1>
    <form method="POST" action="/login">
        <input required type="text" name="email">
        <input required type="text" name="password">
        <button type="submit">Log In</button>
    </form>
