<form method="POST" action="/login">
    <input required type="text" name="email" placeholder="email">
    <input required type="text" name="password" placeholder="password">
    <button type="submit">Log In</button>
</form>


