<form method="POST" action="/signup">
    <input required type="text" name="nickname" placeholder="nickname">
    <input required type="text" name="email" placeholder="email">
    <input required type="text" name="password" placeholder="password">
    <button type="submit">Sign Up</button>
</form>
